* {
    color: white;
}

.page-container {
    display: flex;
    padding: 4em 0em;

}

.body-container {
    flex: 50%;
    padding: 1em 7.5em;
    width: 35%;
}

.image-container {
    flex: 50%;
}

.tech-intro {
    margin: 50px 0px;
}

.tech-intro>* {
    font-family: "Bruno Ace SC";
}

.name-intro {
    font-size: 24px;

}

.name-body {
    font-size: 50px;
    color: #6DFFC0;
    padding: 30px 0px;
}

h3 {
    color: #6DFFC0;
}

.reachout-button {
    color: #202745;
    margin: 50px 0px;
}

.image-container>.profile-image {
    max-height: 870px;
    float: right;
}