.home-container {
    padding: 3rem 5rem;
    max-width: 100%;
}

.row-container {
    width: 100%;
    margin: 0;
}

.body-container {
    padding: 0rem 0rem;

}

.description-body {
    padding: 2rem 0rem;
}

.image-container {
    text-align: center;
    height: 80vh;
}

.image-container>.profile-image {
    height: 100%;
}


.tech-intro {}

.tech-intro>* {
    font-family: "Bruno Ace SC";
}

.name-intro {
    font-size: 24px;
}

.name-body {
    font-size: 50px;
    color: #6DFFC0;
    padding: 30px 0px;
}

.reachout-button {
    color: #202745;
}