@font-face {
  font-family: "Bruno Ace SC";
  src: local("Bruno Ace SC"), url("./fonts/Bruno Ace SC Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

.page-container {
  max-width: 100%;
}