body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: #6DFFC0;
  font-family: "Bruno Ace SC";
  color: #202745;
  border: 0;
  border-radius: 0.375rem;
  height: 45px;
  padding: 10px 30px;
}

.btn:hover {
  color: white;
  cursor: grab;
}